.main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
}

.topContainer {
    margin-top: auto;
    display: flex;
    gap: 10px;
}

.searchBar {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
}

.searchInput {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    text-align: center;
}

.searchBtn {
    font-size: 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchBtn:hover {
    background-color: rgb(221, 221, 218);
}

.degreeContainer {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
}

.degreeBtn {
    cursor: pointer;
    border: none;
    font-size: 20px;
}

#fahrenheit {
    border-right: 2px solid black;
    border-radius: 10px 0 0 10px;
}

#celcius {
    border-radius: 0 10px 10px 0;
}

.active {
    background-color: rgb(67, 143, 231);
    color: white;
}

.nonactive {
    background-color: #D6E5FF;
}

.active:hover {
    background-color: #0056b3;
}

.nonactive:hover {
    background-color: #A4C8FF;
}

.weatherDisplay {
    text-align: center;
}