.main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
}

.searchBar {
    margin-top: auto;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
}

.searchInput {
    font-size: 18px;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    text-align: center;
}

.searchBtn {
    font-size: 20px;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchBtn:hover {
    background-color: rgb(221, 221, 218);
}

.weatherDisplay {
    text-align: center;
}